.hidden {
  display: none;
}

.contact-container {
    list-style: none;
    width: 400px;
    padding: 10px;
    border: 1px solid #aaa;
    margin: 0 10px 10px 0;
    float: left;
}

.contact-container h1 {
    margin: 0;
    font-weight: normal;
}

.contact-container p {
    float: right;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
}

.contact-container img {
    margin-right: 10px;
    float: left;
    border: none;
}

.contact-container div {
    margin-bottom: 24px;
    font-size: 14px;
}

.contact-container a {
    color: #333;
}

.contact-container dl {
    overflow: hidden;
    margin: 0 0 10px;
    font-size: 14px;
}

.contact-container dt,
.contact-container dd {
    margin: 0;
    float: left;
}

.contact-container dt {
    width: 50px;
    clear: left;
}

.contact-container button {
    float: right;
}
