<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <main id="contacts">

    <ul class="contacts-list">

    </ul>
  </main>

  <script id="contactTemplate" type="text/template">
      <img src="<%= photo %>" alt="<%= name %>" />
      <h1><%= name %><span><%= type %></span></h1>
      <div><%= address %></div>
      <dl>
          <dt>Tel:</dt><dd><%= tel %></dd>
          <dt>Email:</dt><dd><a href="mailto:<%= email %>"><%= email %></a></dd>
      </dl>
      <button class="js-delete-contact">Delete Contact</button>
  </script>
  
<script src="build/js/build.js"></script>

</body>
</html>
